.about {
  min-height: 1175px;
  background: url(../img/bg/about.webp) no-repeat center, #D9E2E8;
  background-size: cover;

  @media (min-width: 2641px) {
    background-size: contain;
  }

  @media (max-width: 940px) {
    min-height: 800px;
  }

  @media (max-width: 740px) {
    min-height: 400px;
    background-position: top center;
  }

  &__container {
  }

  &__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #5D6366;
    padding: 40px 0;
    max-width: 690px;
    margin-left: 50%;

    @media (max-width: 940px) {
      margin-left: 50px;
    }

    @media (max-width: 740px) {
      padding: 20px 0;
      margin-left: 0;
      text-align: right;
      font-size: 12px;
    }
  }
}
