.certifs {
  margin-top: 160px;

  @media (max-width: 1200px) {
    margin-top: 90px;
  }

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #256885;
  }

  &__content {
    margin-top: 34px;
    display: flex;
    gap: 40px 6px;
    align-items: flex-start;

    @media (max-width: 1400px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 128%;
    text-transform: uppercase;
    color: #256885;
    background: rgba(207, 218, 226, 0.2);
    border-radius: 6px;
    padding: 18px 20px;
  }

  &__table {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__table-row {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 215px 1fr;

    p {
      background: rgba(207, 218, 226, 0.2);
      border-radius: 6px;
      padding: 19px 20px;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: #797A7B;
    }

    @media (max-width: 740px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__order-btn {
    grid-column: 2;
    background: rgba(207, 218, 226, 0.2);
    border-radius: 6px;
    padding: 19px 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    color: #256885;
    transition: .3s ease;

    i {
      font-size: 8px;
      vertical-align: middle;
      margin-inline-start: 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #256885;
        color: white;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 67px;

    @media (max-width: 740px) {
      flex-direction: column;
    }

    p {
      padding: 19px 60px;
      background: rgba(207, 218, 226, 0.4);
      border-radius: 100px;
      font-family: 'Inter';
      font-weight: 500;
      font-size: 18px;
      line-height: 122%;
      text-align: center;
      color: #87ABBA;
    }
  }


}