.contacts {
  margin-top: 160px;

  @media (max-width: 1200px) {
    margin-top: 80px;
  }

  &__container {
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 109px;
    margin-top: 34px;

    @media (max-width: 1200px) {
      gap: 20px;
    }

    @media (max-width: 940px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 129%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    flex: 0 0 auto;

    @media (max-width: 940px) {
      flex: unset;
    }
  }

  &__form {
    flex: 0 1 868px;
    display: flex;
    flex-direction: column;

    @media (max-width: 940px) {
      flex: unset;
    }
  }

  &__form-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__form .checkbox {
    margin-top: 17px;
  }

  &__submit {
    margin-top: 60px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    padding: 26px 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .3s ease;
    border-radius: 6px;

    @media (max-width: 940px) {
      padding: 26px 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }
}