.header {
  background: #97BED1;
  padding: 7px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__center {
  }

  &__tel-btn {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 24px;
    border: 1px solid white;
    display: flex;
    transition: .3s ease;

    @media (max-width: 1200px) {
      display: none;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #e1e1e1;
        border-color: #e1e1e1;
      }
    }
  }

  .nav {

    @media (max-width: 940px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 140px;

    @media (max-width: 1770px) {
      gap: 40px;
    }

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }

  &__right-wrap {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1200px) {
      gap: 10px;
    }
  }

  &__search {
    color: white;
    font-size: 28px;
    line-height: 1;
    transition: .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: #e1e1e1;
      }
    }
  }

  &__call {
    font-size: 24px;
    line-height: 1;
    color: #256885;
    padding: 6px;
    border: 2px solid #256885;
    border-radius: 10px;
    display: flex;
    transition: .3s ease;

    @media (min-width: 1201px) {
      display: none;
    }
  }

  &__lang {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: #e1e1e1;
      }
    }
  }

  &__menu-btn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;

    @media (min-width: 941px) {
      display: none;
    }

    span {
      display: block;
      border-radius: 10px;
      height: 2px;
      background: white;
      width: 25px;
      transition: .3s ease;
    }
  }
}
body.--menu-opened .header .header__menu-btn {
      
  span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  span:nth-child(2) {
    transform: scaleX(0);
  }

  span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
}