.input {

  input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(255, 255, 255, 1);
    padding: 24px 20px;
    background: rgba(255, 255, 255, 0.1);
    transition: .3s ease;
    border-radius: 4px;
    min-width: 0;
    width: 100%;

    &::placeholder {
      color: rgba(255, 255, 255, 0.35);
      text-transform: uppercase;
    }

    &:focus {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}