.main-bg {
  margin-top: 160px;
  background: url(../img/main-bg.webp) center no-repeat;
  background-size: cover;
  height: clamp(300px, -8.192rem + 58.25vw, 900px);

  @media (min-width: 2141px) {
    height: 1300px;
  }

  @media (max-width: 1200px) {
    margin-top: 90px;
  }

  @media (max-width: 740px) {
    margin-top: 40px;
  }
}