.nav {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 1200px) {
    gap: 15px;
  }

  &>.rel {
    position: relative;
  }

  .contacts-popup-rel {

    .contacts-popup {
      opacity: 0;
      transition: .5s ease;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover .contacts-popup {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &>a, &>.rel>a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    text-transform: uppercase;
    color: #256885;
    transition: .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: #174558;
      }
    }
  }
}