.needs {
  margin-top: 160px;
  
  @media (max-width: 1200px) {
    margin-top: 90px;
  }

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
  }

  &__title-wrap {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    color: #256885;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
  }

  &__link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #256885;
    flex-shrink: 0;

    i {
      font-size: 8px;
      margin-inline-start: 10px;
      vertical-align: middle;

      &::before {
        width: auto;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        font-weight: 500;
      }
    }
  }

  &__list {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 740px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    min-height: 650px;
    padding: 20px 30px 42px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (max-width: 1770px) {
      padding: 10px 15px 20px;
    }

    @media (max-width: 1200px) {
      min-height: 450px;
      padding: 20px 30px 42px;
    }

    @media (max-width: 740px) {
      min-height: 450px;
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 34px;
    line-height: 130%;
    color: #FFFFFF;
  }

  &__item-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    flex-shrink: 0;
    margin-top: auto;

    i {
      font-size: 8px;
      margin-inline-start: 10px;
      vertical-align: middle;

      &::before {
        width: auto;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        font-weight: 500;
      }
    }
  }
}