.production {
  margin-top: 160px;

  @media (max-width: 1200px) {
    margin-top: 90px;
  }

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    
    @media (max-width: 1200px) {
      gap: 30px;
    }

    @media (max-width: 940px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 50px;
    }
  }

  &__left {
    flex: 0 0 430px;

    @media (max-width: 940px) {
      flex: unset;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #256885;

    @media (max-width: 740px) {
      font-size: 32px;
    }
  }

  &__descr {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #5D6366;
    margin-top: 34px;

    @media (max-width: 740px) {
      margin-top: 20px;
    }
  }

  &__list {
    max-width: 1200px;
    flex: 1 1 auto;

    @media (max-width: 940px) {
      flex: unset;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 868px;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid #CFDAE2;
    border-bottom: 1px solid #CFDAE2;
    margin-top: -1px;

    @media (max-width: 1770px) {
      grid-template-columns: 1fr 600px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  &__item-num {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #CFDAE2;
  }

  &__item-text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #256885;
  }

  &__item-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #5D6366;
    margin-top: 10px;
  }

  &__item-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #256885;
    margin-top: 20px;

    i {
      font-size: 8px;
      vertical-align: middle;
      margin-inline-start: 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        font-weight: 500;
      }
    }
  }
}