.types {

  &__container {
    display: grid;
    grid-template-columns: 1fr 867px;
    gap: 80px;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr 500px;
    }

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__left {
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);

    @media (max-width: 740px) {
      font-size: 30px;
    }
  }

  &__list {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
  }

  &__litem {
    margin-top: -1px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px 0;
  }

  &__litem-label {
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 129%;
    text-transform: uppercase;
    color: rgba($color: #FFFFFF, $alpha: .5);
    transition: .4s ease;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 740px) {
      font-size: 20px;
    }

    i {
      font-size: 17px;
      color: #687B87;
      transition: .4s ease;
    }
  }
  &__litem.--opened &__litem-label {
    color: #FFFFFF;
    
    i {
      transform: scaleY(-1);
    }
  }

  &__litem-dropdown {
    overflow: hidden;
    transition: .4s ease;
    height: max-content;
    max-height: 0px;
  }
  &__litem:not(.--opened) &__litem-dropdown {
    opacity: 0;
  }

  &__litem-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__litem-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #CFDAE2;
  }

  &__litem-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #CFDAE2;
    margin-top: 60px;
    display: block;

    i {
      font-size: 6px;
      vertical-align: middle;
      margin-inline-start: 10px;

      &::before {
        width: auto;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        font-weight: 500;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.5);
  }

  &__image {
    border-radius: 10px;
    margin-top: 73px;
    height: 669px;
    object-fit: cover;
    display: block;

    @media (max-width: 1400px) {
      height: 450px;
    }

    @media (max-width: 1200px) {
      margin-top: 20px;
    }
  }
}