.where-order {
  margin-top: 160px;
  
  @media (max-width: 1200px) {
    margin-top: 90px;
  }

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #256885;
  }

  &__list {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 740px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    background: #F1F4F5;
    position: relative;
    padding: 20px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .3s ease;

    @media (any-hover: hover) {
      &:hover {
        border-color: #256885;
      }
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 129%;
    text-transform: uppercase;
    color: #256885;

    @media (max-width: 740px) {
      font-size: 20px;
    }
  }

  &__item-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #797A7B;
  }

  &__item-link {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #5D6366;
    transition: .3s ease;
    margin-top: auto;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    i {
      font-size: 6px;
      vertical-align: middle;
      margin-inline-start: 10px;

      &::before {
        width: auto;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: #256885;
      }
    }
  }
}