
.icon-arrow-right-large:before { content: '\e800'; } /* '' */
.icon-call:before { content: '\e801'; } /* '' */
.icon-insta-border:before { content: '\e802'; } /* '' */
.icon-facebook-border:before { content: '\e803'; } /* '' */
.icon-location-sharp:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-time:before { content: '\e806'; } /* '' */
.icon-youtube-border:before { content: '\e807'; } /* '' */
.icon-search-outline:before { content: '\e80b'; } /* '' */
.icon-arrow-right-down:before { content: '\e80c'; } /* '' */
.icon-arrow-right:before { content: '\e83f'; } /* '' */
.icon-arrow-left:before { content: '\e840'; } /* '' */
